nav {
    background-image: url(images/background.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
}

body {
    background-color: #eee;
}

.underlined {
    padding-bottom: 10px;
    border-bottom: 1px solid pink;
    line-height: 48px;
  }
  

