<nav class="navbar navbar-light bg-light"></nav>
    <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><img src="images/favicon-32x32.png" width=32 height=32 class="d-inline-block align-top" alt="">
                    Fitness Planner
                </a>
            </div>
            <form class="form-inline my-2 my-lg-0 nav navbar-right">
                <a class="btn btn-outline-success my-2 my-sm-0" href="login.html">Sign In</a>
            </form>
    </div>
</nav>

